body{
    margin: 0 auto;
}

header{
    background-color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    margin: 0 auto;
}

header a{
    display: inline-block;
    font-family: Google Sans,Roboto,Helvetica,Arial,sans-serif;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #4c4c4c;
    padding: 5px;
    font-size: 14px;
}

header a:hover{
    text-decoration: underline;
}

header a img{
    width: 20px;
    opacity: 1;
    padding: 8px;
}

header a img:hover {
    background-color: #dadce0;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
    border-radius: 50px;
}

.acceder{
    background-color: #1a73e8;
    color: white;
    font-family: Google Sans,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
}

.acceder:hover{
    background-color: #1863c6;
}

.contenido{
    display: flex;
    flex-direction: column;
    align-content: center;
    box-sizing: border-box;
}

.logo{
    display: flex;
    justify-content: center;
    height: 92px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.busqueda{
    background-color: white;
    border: 1px solid #dadce0;
    border-radius: 20px;
    align-content: center;
    margin: 0 auto;
}

.busqueda:hover{
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.iconos{
    width: 20px;
    padding: 8px;
}

#buscar{
    border: 0px;
    padding-left: 40px;
    text-align: center;
    
}

#buscar:focus{
    border: 0px;
}

.botones{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.botones a{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 10px 16px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

}

.botones a:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

footer{
    background-color: #f2f2f2;;
    max-height: 40vh;
    color: #4c4c4c;
    font-family: Google Sans,Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    margin-top: 25vh;
}
.pais{
    padding: 10px 15px 10px 15px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    color: #70757a;
    text-decoration: none;
}

.footer2 a:hover{
    text-decoration: underline;
}

footer div a{
    text-decoration: none;
    padding: 15px;
    white-space: nowrap;
    color: #70757a;
}
